body{margin: 0;padding: 0;color: #404040;font-size: 16px;font-family: 'Open Sans', sans-serif;font-weight: 400;}
p {
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
h1, .h1, .title h1 {
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
h2, .h2, h2 a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
/*Own csss */

h2.head-text{
	font-size: 32px;
	font-weight: 700;
}
.banner{
	overflow: hidden;
	position: relative;
}
.main-banner{
	position: relative;
	background-image: url(img/banner.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 574px;
	align-items: flex-center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-justify-content: center;
	justify-content: center;
}
.inner-content{
	float: left;
	width: calc(100% / 2 - 1px);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.inner-content h2.head-text{
	margin-top: 0;
	color: #fff;
	z-index: 2;
	position: relative;
}
.inner-content p{
	font-size: 18px;
	color: #fff;
	z-index: 2;
   position: relative;
}
.inner-content p span{
	display: block;
	padding-bottom: 8px;
}
.inner-content a{
	color: #fff;
	font-size: 13px;
	border: 3px solid #fff;
	padding: 10px 23px;
	display: inline-block;
	position: relative;
	z-index: 2;
}
.inner-right{
	margin-left: 66px;
	margin-right: 60px;
	padding: 60px 6px;
    background: transparent;
	/*transform: skewX(-10deg);*/
	/*clip-path: polygon(0% 100%, 100% 100%, 0% 0%);*/
}
.right-skew, .left-skew {
  position: relative;
}
.right-skew:before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -51px;
  display: block;
  width: 126px;
  background: transparent;
  -webkit-transform: skew(19deg);
  -ms-transform: skew(19deg);
  transform: skew(-19deg);
}
.inner-left{
   margin-right: 58px;
   padding: 60px 6px;
   background: transparent;
   margin-left: 60px;
}
.left-skew:after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -71px;
  display: block;
  width: 126px;
  background: transparent;
  -webkit-transform: skew(19deg);
  -ms-transform: skew(19deg);
  transform: skew(-19deg);
}
.inner-right:hover, .right-skew:hover:before, .inner-left:hover, .left-skew:hover:after {
	background: #fff;
}
.inner-left:hover p, .inner-left:hover h2.head-text, .inner-right:hover p, .inner-right:hover h2.head-text{
	color: #404040;
}
.inner-right:hover a, .inner-left:hover a{
	background: #404040;
	border-color: #404040;
}
.counting-container{
	background-color:#ececec;
	padding: 76px 0; 
}
.counting-box{
	width: calc(100% / 3);
	text-align: center;
	float: left;
}
.counting-box h2{
	font-size: 52px;
	font-weight: 700;
	margin-top: 0;
	color: #404040;
	text-transform: lowercase;
}
.section-inner{
	padding: 50px 0;
}
.section-inner h2.head-text{
	color: #eb2d2e;
}
.section-inner h3{
	font-size: 24px;
	color: #404040;
	font-weight: 400;
}
.section-inner h2{
	color: #eb2d2e;
	padding: 25px 0 10px;
}

/*media query goes here*/

@media only screen and (max-width: 1199px) {
    .right-skew:before{
    		left: -60px;
    	}
    .inner-right{
    	margin-left: 75px;
    }
    .inner-left{
       margin-right: 45px;
    }
    .left-skew:after{
    	right: -64px;
    }   
}
@media only screen and (max-width: 991px) {
	.inner-left{
		margin-left: 15px;
	}
	.inner-right{
		margin-right: 15px;
		margin-left: 82px;
	}
	.right-skew:before {
	    left: -68px;
	    width: 135px;
	}
}
@media only screen and (max-width: 767px){
		.inner-content{
			width: 100%;
			padding: 20px 0;
		}
		.inner-left {
		    margin-right: 118px;
		    padding: 25px 10px;
		}
		.inner-right {
			padding: 25px 10px;
			margin-left: 123px;
		}
		.counting-container {
		    padding: 50px 0 25px;
		}
		.counting-box {
		    width: 100%;
		    float: none;
		    padding-bottom: 25px;
		}
}
@media only screen and (max-width: 480px){
	.inner-left, .inner-right {
	    margin: 0 10px;
	    padding: 18px;
	}
	.left-skew:after,.right-skew:before{
		display: none;
	}
}